/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Login container */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

/* Login box styling */
.login-box {
    background-color: white;
    /* padding: 30px 20px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Login header */
.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    margin-top: -20px;
    background-color: #256ba8;
    border-radius: 15px 0 15px 0;
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Login button styling */
.login-button {
    background-color: #2d87d1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #256ba8;
}

/* Extra links */
.extra-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.extra-links a {
    color: #2d87d1;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}
