html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

/* Add padding/margin where needed for other elements */
.nav-list {
    display: flex;
    padding-top: 20px; /* Specific padding for the navigation list */
}

.nav-list-item {
    display: flex;
    list-style-type: none;
    padding-right: 20px; /* Keep individual padding */
}

.nav-list-item-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-list-item-link:hover {
    color: #2d87d1;
    border-bottom: 4px solid #2d87d1;
}

.page_header {
    background-color: rgb(40, 40, 40);
    padding: 0 15px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 60px; 
}

.left h6{
    margin: 0;
    line-height: 60px; 
    padding-top: 5px;
}

.right p {
    padding-top: 20px;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d87d1;
    color: rgb(40, 40, 40); 
    height: 100%; 
    width: 40px; 
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.header-icon i {
    font-size: 20px; 
}
